* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newday {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new_h1 {
    width: 473px;
    height: 86px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.new_h1 span {
    color: #7421B0;
}

.new_p {
    width: 571px;
    height: 169px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
}

.new_p span {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 200%;
    color: black;
}

.four_divs {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 130px 45px;
}

.four {
    width: 338px;
    height: 294px;
    border-radius: 10px;
    box-shadow: 0px 18px 45px -10px #00000021;
    padding: 50px 65px;
}

.four p {
    width: 208px;
    height: 64px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #131313;
    margin-top: 30px;
}

.four:nth-child(1) {
    background: #7421B0;
    box-shadow: 0px 26px 48px -23px #7421B0;
}

.four:nth-child(1) p {
    width: 167;
    height: 64;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
}

.alike {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gif {
    width: 605px;
    height: 347px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 18px 45px -10px #00000021;
    text-align: center;
    padding-top: 150px;
}

.gif h1 {
    position: relative;
    width: 78px;
    height: 57px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #828282;
    left: 44%;
}

.gif p {
    position: absolute;
    left: 24%;
    bottom: -29%;
    width: 39px;
    height: 28px;
    font-family: sans-serif;
    color: #7421B0;
    font-weight: 700;
    font-size: 24px;
}

.record {
    width: 460px;
    height: 272px;
}

.record h1 {
    width: 272px;
    height: 43px;
    font-family: sans-serif;
    color: #131313;
    font-weight: 700;
    font-size: 36px;
}

.record p {
    width: 460px;
    height: 189px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    color: #828282;
}

.four_dive {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 130px 45px;
}

.fours {
    width: 338px;
    height: 294px;
    border-radius: 10px;
    box-shadow: 0px 18px 45px -10px #00000021;
    padding: 50px 65px;
}

.mybtn button {
    width: 235px;
    height: 70px;
    border-radius: 5px;
    background: #131313;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    margin-left: 650px;
}

.fours p {
    width: 208px;
    height: 64px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #131313;
    margin-top: 30px;
}

.fours:nth-child(2) {
    background: #7421B0;
    box-shadow: 0px 26px 48px -23px #7421B0;
}

.fours:nth-child(2) p {
    width: 167;
    height: 64;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
}

@media only screen and (max-width:400px) {
    .newday {
        display: block;
        align-items: center;
        text-align: center;
    }

    .new_h1 {
        width: 263px;
        height: 48px;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-left: 50px;
    }

    .new_h1 span {
        color: #7421B0;
    }

    .new_p {
        width: 345px;
        height: 120px;
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        text-align: center;
    }

    .new_p span {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: black;
    }

    .four_divs {
        display: block;
        margin: 30px 15px;
    }

    .four {
        margin-top: 30px;
        width: 345px;
        height: 92px;
        color: #131313;
        display: flex;
        padding: 30px 19px;
        gap: 80px;
    }

    .four p {
        width: 117px;
        height: 38px;
        font-weight: 500;
        font-size: 14px;
        line-height: 133%;
        margin-top: -5px;
    }

    .four img {
        width: 40px;
        height: 40px;
    }

    .four:nth-child(1) p {
        width: 117px;
        height: 38px;
        font-weight: 500;
        font-size: 14px;
        line-height: 133%;
        margin-top: -5px;
    }



    .alike {
        display: block;
        align-items: center;
    }

    .gif {
        width: 345px;
        height: 193px;
        border-radius: 10px;
        box-shadow: 0px 18px 45px -10px #00000021;
        padding-top: 60px;
        margin-top: 20px;
    }

    .gif h1 {
        width: 80px;
        height: 70px;
        font-weight: 700;
        font-size: 48px;
        position: relative;
        color: #828282;
        left: 40%;
    }

    .gif p {
        width: 40px;
        height: 35px;
        font-weight: 700;
        font-size: 24px;
        position: absolute;
        left: 30%;
        bottom: -27%;
    }

    .record {
        width: 341px;
        height: 153px;
    }

    .record h1 {
        width: 251px;
        height: 18px;
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
        margin-left: 40px;
    }

    .record p {
        width: 341px;
        height: 153px;
        margin-top: 10px;
        color: #828282;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    }

    .four_dive {
        display: block;
        margin: 30px 15px;
    }

    .fours {
        margin-top: 30px;
        width: 345px;
        height: 92px;
        color: #131313;
        display: flex;
        padding: 30px 19px;
        gap: 80px;
    }

    .fours p {
        width: 117px;
        height: 38px;
        font-weight: 500;
        font-size: 14px;
        line-height: 133%;
        margin-top: -5px;
    }

    .fours img {
        width: 40px;
        height: 40px;
    }

    .fours:nth-child(2) p {
        width: 117px;
        height: 38px;
        font-weight: 500;
        font-size: 14px;
        line-height: 133%;
        margin-top: -5px;
    }

    .mybtn button {
        width: 170px;
        height: 44px;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 12px;
        margin-left: 100px;
    }
}