* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  gap: 400px;
}

nav ul {
  display: flex;
  gap: 60px;
  align-items: center;
}

nav ul li a {
  font-size: 16px;
  font-family: sans-serif;
  color: #565656;
  font-weight: 400;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;

}

nav ul li {
  list-style: none;
}

nav ul li select {
  border: none;
  outline: none;
  font-size: 16px;
  color: #565656;
  font-weight: 400;
  cursor: pointer;
}


nav ul:nth-child(3) {
  display: none;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;

}

main section {
  width: 555px;
}

main section h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 140%;
}

main section span {
  background: #7421B029;
  color: #7421B0;
  padding: 5px 5px;
  border-radius: 6px;
}

main section p {
  font-size: 18px;
  color: #828282;
  line-height: 200%;
  font-family: sans-serif;
  margin-top: 37px;
}

main section button {
  width: 235px;
  height: 70px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
  color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 80px;
  cursor: pointer;
}


main .img_cart img {
  width: 700px;
  height: 400px;
  border-radius: 5px;
  position: absolute;
  top: 26%;

}

main .img_cart .liner {
  width: 800px;
  height: 700px;
  border-radius: 70px;
  margin-left: 200px;
  background: linear-gradient(180deg, #7421B0 0%, #D08EFF 100%);
}

main .img_cart {
  width: 700px;
}

.blur_cart {
  width: 282px;
  height: 108px;
  border-width: 1px;
  border-radius: 10px;
  backdrop-filter: blur(40px);
  border: 1px solid #FFFFFF26;
  color: #C4C4C41A;
  position: absolute;
  top: 76%;
  left: 69%;
  cursor: pointer;

}

.blur_cart p {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  width: 180px;
  margin: 28px auto;
}

.newday {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.new_h1 {
  width: 473px;
  height: 86px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}

.new_h1 span {
  color: #7421B0;
}

.new_p {
  width: 571px;
  height: 169px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}

.new_p span {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 200%;
  color: black;
}

.four_divs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 130px 45px;
}

.four {
  width: 338px;
  height: 294px;
  border-radius: 10px;
  box-shadow: 0px 18px 45px -10px #00000021;
  padding: 50px 65px;
}

.four p {
  width: 208px;
  height: 64px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
  margin-top: 30px;
}

.four:nth-child(1) {
  background: #7421B0;
  box-shadow: 0px 26px 48px -23px #7421B0;
}

.four:nth-child(1) p {
  width: 167;
  height: 64;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
}

.alike {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gif {
  width: 605px;
  height: 347px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px #00000021;
  text-align: center;
  padding-top: 150px;
}

.gif h1 {
  position: relative;
  width: 78px;
  height: 57px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #828282;
  left: 44%;
}

.gif p {
  position: absolute;
  left: 24%;
  bottom: -156%;
  width: 39px;
  height: 28px;
  font-family: sans-serif;
  color: #7421B0;
  font-weight: 700;
  font-size: 24px;
}

.record {
  width: 460px;
  height: 272px;
}

.record h1 {
  width: 272px;
  height: 43px;
  font-family: sans-serif;
  color: #131313;
  font-weight: 700;
  font-size: 36px;
}

.record p {
  width: 460px;
  height: 189px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 50px;
  color: #828282;
}

.four_dive {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 130px 45px;
}

.fours {
  width: 338px;
  height: 294px;
  border-radius: 10px;
  box-shadow: 0px 18px 45px -10px #00000021;
  padding: 50px 65px;
}

.mybtn button {
  width: 235px;
  height: 70px;
  border-radius: 5px;
  background: #131313;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  margin-left: 650px;
}

.fours p {
  width: 208px;
  height: 64px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
  margin-top: 30px;
}

.fours:nth-child(2) {
  background: #7421B0;
  box-shadow: 0px 26px 48px -23px #7421B0;
}

.fours:nth-child(2) p {
  width: 167;
  height: 64;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
}

@media only screen and (max-width:400px) {
  .newday {
    display: block;
    align-items: center;
    text-align: center;
    margin-top:360px;
    margin-left: 20px;
  }

  .new_h1 {
    width: 263px;
    height: 48px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
  }

  .new_h1 span {
    color: #7421B0;
  }

  .new_p {
    width: 345px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
  }

  .new_p span {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: black;
  }

  .four_divs {
    display: block;
    margin: 30px 15px;
  }

  .four {
    margin-top: 30px;
    width: 345px;
    height: 92px;
    color: #131313;
    display: flex;
    padding: 30px 19px;
    gap: 80px;
  }

  .four p {
    width: 117px;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    margin-top: -5px;
  }

  .four img {
    width: 40px;
    height: 40px;
  }

  .four:nth-child(1) p {
    width: 117px;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    margin-top: -5px;
  }



  .alike {
    display: block;
    align-items: center;
    margin-left: 30px;
  }

  .gif {
    width: 345px;
    height: 193px;
    border-radius: 10px;
    box-shadow: 0px 18px 45px -10px #00000021;
    padding-top: 60px;
    margin-top: 20px;
  }

  .gif h1 {
    width: 80px;
    height: 70px;
    font-weight: 700;
    font-size: 48px;
    position: relative;
    color: #828282;
    left: 40%;
  }

  .gif p {
    width: 40px;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 39%;
    bottom: -153%;
  }

  .record {
    width: 341px;
    height: 153px;
  }

  .record h1 {
    width: 251px;
    height: 18px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
  }

  .record p {
    width: 341px;
    height: 153px;
    margin-top: 10px;
    color: #828282;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }

  .four_dive {
    display: block;
    margin: 30px 15px;
  }

  .fours {
    margin-top: 30px;
    width: 345px;
    height: 92px;
    color: #131313;
    display: flex;
    padding: 30px 19px;
    gap: 80px;
  }

  .fours p {
    width: 117px;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    margin-top: -5px;
  }

  .fours img {
    width: 40px;
    height: 40px;
  }

  .fours:nth-child(2) p {
    width: 117px;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    margin-top: -5px;
  }

  .mybtn button {
    width: 170px;
    height: 44px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-left: 100px;
  }
}

@media only screen and (max-width:400px) {
  nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    gap: 0px;
  }

  nav ul:nth-child(2) {
    display: none;
  }

  nav ul:nth-child(3) {
    display: block;
  }

  nav ul:nth-child(3) img {
    width: 40px;
    height: 40px;
  }

  nav>img {
    width: 141px;
    height: 22px;
  }

  main {
    display: block;
  }

  main .img_cart img {
    width: 345px;
    height: 203px;
    position: absolute;
    top: 10%;
    bottom: 0;
  }

  .img_cart {
    position: relative;
    padding: 10px;
  }

  main .img_cart .liner {
    width: 340px;
    height: 299px;
    margin-left: 120px;
    border-radius: 30px;
  }

  main .img_cart .blur_cart {
    top: 68%;
    left: 20%;
    bottom: 0;
    right: 0;
    width: 186px;
    height: 67px;
  }

  .blur_cart p {
    font-size: 11px;
    text-align: center;
  }

  main section h1 {
    font-weight: 700;
    font-size: 24px;
  }

  main section p {
    font-size: 12px;
    margin-top: 20px;

  }

  main section button {
    width: 170px;
    height: 44px;
    font-size: 12px;
    margin-top: 20px;
  }

  main section {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 80%;
  }

}